body {
  min-height: 100vh;
  background: radial-gradient(
    circle,
    rgba(196, 32, 104, 1) 0%,
    rgba(22, 91, 172, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}
.container {
  max-width: 400px;
  border: 2px solid white;
  border-radius: 30px;
  padding: 0px 10vw;
  margin: 15px;
}
.currency {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 10px;
}
.output {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 15px 0;
}
.custom-select {
  background: transparent;
  color: white;
  padding: 5px 0;
  min-width: 75px;
  max-height: 120px;
  border-radius: 5px;
  overflow-y: auto;
  text-align: center;
  outline: none;
  border: 1px solid white;
}
.custom-select::-webkit-scrollbar {
  width: 5px;
}
.custom-select::-webkit-scrollbar-thumb {
  background-color: rgba(22, 91, 172, 1);
  border-radius: 5px;
}
.custom-select::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 5px;
}

option {
  background: rgb(196, 32, 104);
}
input {
  text-align: center;
  background: transparent;
  color: white;
  width: 65%;
  min-width: 75px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid white;
  font-weight: bold;
  outline: none;
}
h1 {
  display: flex;
  font-size: 1.1rem;
  margin-top: 10px;
  color: white;
  justify-content: center;
  align-items: center;
}
